# Intellij
.idea/
*.iml
*.iws
*.ipr
*.ctags

Gemfile.lock
.gradle
build
out
.bck
classes
.floo*
*.patch

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
